#map {
	height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.segment {
	margin-bottom: 1%;
}

#input {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	padding: 10px;
	margin: 10px;
	width: 30%;
}

#locationInput {
	width: 100%;
	margin-bottom: 1%;
}

#deal-category {
	width: 100%;
	border-radius: .28571429rem;
	padding: 11.345;
	margin-bottom: 1%;
}

.sidebar {
	z-index: 2;
}

.ui.grid {
	background: #fff;
}
